torch==2.2.0
transformers==4.40.0
datasets==2.19.0
evaluate==0.4.1
accelerate==0.29.3
peft==0.10.0
huggingface_hub==0.22.2
wandb==0.16.6
scikit-learn==1.4.2
seaborn==0.13.2
matplotlib==3.8.4
pandas==2.2.2
numpy==1.26.4
requests==2.31.0
